﻿@model Ntt_Data_Exercise.Cuenta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NroCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.PasswordCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.PasswordCliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
